DB_LINK=
SERVER_HOST=localhost
SERVER_PORT=3000
SERVER_SHUTDOWN_TIMEOUT=3000

API_KEY=
ADDRESS_FACTORY=
IS_MAINNET=false
LOCAL=TRUE

CORS_ORIGINS=["*"]
CORS_METHODS=["GET", "POST", "PUT", "DELETE", "OPTIONS"]